<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div class="loginBox">
        <img src="link/Logo.png" style="width: 240px;
        height: 37px;"></i>
        <h2>欢迎使用医疗废物信息化管理平台</h2>
        <div class="inputBox">
            <span>
                <img src="./link/userIcon.png" alt="" class="userIcon">
                <div></div>
                <input type="text" placeholder="账号" class="zhInput">
            </span>
            <span>
                <img src="./link/lockIcon.png" alt="" class="lockIcon">
                <div></div>
                <input type="password" placeholder="密码" class="passInput">
            </span>
        </div>
        <span class="tishi">*如需获取新账号 或忘记密码请联系管理员</span>
        <button class="dl-Btn">账户登录</button>

        <span class="fbox-span">
            <img src="./link/check.png" style="width: 18px"></i>记住密码
            <span> <%= link_to "注册账号", users_path %> </span>
        </span>

    </div>

</body>

</html>